* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
  color: white;
}

.location {
  margin-top: 200px;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.temperature {
  margin-top: 100px;
  width: 50%;
  height: 30vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.temperature-header {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.temperature-header .degree {
  font-size: 3rem;
}
.temperature-header span {
  margin-left: 10px;
  font-size: 2.5rem;
}
.temperature .localtime {
  font-size: 1.2rem;
  font-weight: 300;
}
.temperature .description {
  font-size: 2rem;
  font-weight: 500;
}
